/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/WebContent/resources/jquery/
/WebContent/resources/bootstrap/
/WebContent/resources/angular/
/bower_components/
/node_modules/
.cache-*
